body {
    font-family: sans-serif;
    background: rgb(185, 185, 185);
    display: flex;
    justify-content: center;
    padding: 20px;
}

#chat-container {
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    height: 620px;
}

#messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.message {
    margin-bottom: 10px;
    padding: 8px;
    background: #e0e0e0;
    border-radius: 5px;
}

#input-container {
    display: flex;
}

    #input-container input {
        flex: 1;
        padding: 10px;
        border: none;
        border-radius: 0 0 0 10px;
    }

    #input-container button {
        padding: 10px;
        border: none;
        background: #2196F3;
        color: black;
        cursor: pointer;
        border-radius: 0 0 10px 0;
    }

.matn {
    padding: 17px;
    display: flex;
    background: #e0e0e0;
    border-radius: 10px;
    margin: 10px;
    direction: rtl;
}
